html {
    background-color: #ff7373;
    background-image: -webkit-linear-gradient(270deg,rgb(255,73,73) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(255,73,73) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
    font-family: Century Gothic;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h1 {
    color: #ff7373;
    font-size: 1.5em;
}

h2 {
    margin-top: 1.3em;
}

h5 {
    font-size: 1em;
}

a {
    color: #ffff00;
    text-decoration: none;
}

address {
    color:#a6a6a6;
}

b, strong {
    font-weight: 600;
}

header {
    text-align: center; 
    font-size: 2.5em;
}

footer {
    text-align: right; 
    font-size: 1.3em;
}

p {
    color: black;
    font-size: 1em;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

/*I should use em's unstead of px's...*/
